/*****************/
/*! Base Styles  */
/*****************/
body {
  background: #fff;
  color: #222;
  font: 87.5%/1.5 'Merriweather', 'Times New Roman', 'Times', serif;
}

@media (min-width: 40em) {
  body {
    font-size: 100%;
  }
}

@media (min-width: 56.25em) {
  body {
    background: url('../images/girl.jpg') no-repeat center top;
    background-size: cover;
  }
}

h1, h2, h3 {
  font-family: 'Montserrat', 'Helvetica Neue', 'Helvetica', 'Roboto', 'Arial', sans-serif;
}

/**************/
/*!  Helpers  */
/**************/

/* Assistive Text */
.visuallyhidden {
  position: absolute;
  margin: -1px;
  padding: 0;
  height: 1px;
  width: 1px;
  clip: rect(0 0 0 0);
  overflow: hidden;
  border: 0;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  position: static;
  margin: 0;
  height: auto;
  width: auto;
  clip: auto;
  overflow: visible;
}

/************/
/*! Layout  */
/************/

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.container {
  margin: 0 auto;
}

.container > :not(.hero) {
  padding-left: 1.5em;
  padding-right: 1.5em;
}

.container:before,
.container:after {
  content: ' ';
  display: table;
}

.container:after {
  clear: both;
}

@media (min-width: 56.25em) {
  .container {
    float: left;
    height: 100vh;
    width: 25em;
    background-color: rgba(255, 255, 255, 0.8);
  }
}

/*************/
/*! Content  */
/*************/

/* Site Header */
.site-header {
  margin-bottom: 2em;
}

.tagline {
  font-style: italic;
}

/* Small Screen Hero */
@media (max-width: 56.1875em) {
  .hero {
    position: relative;
    height: 0;
    padding-bottom: 56.25%;
    overflow: hidden;
  }

  .hero span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: url('../images/girl-small.jpg') no-repeat 70% top;
    background-size: cover;
  }
}

/* Sections */
@media (max-width: 56.1875em) {
  .section {
    max-width: 38.75em;
    margin-left: auto;
    margin-right: auto;
  }
}

/* Contact */
.social {
  padding-left: 0;
  list-style: none;
}

.social li {
  display: inline-block;
  padding: .25em;
}
